.container {
  position: relative;
  height: 100%;
  padding: 50px 20px;
}

.container__title {
  padding-top: 70px;
}

.container__about {
  padding: 20px 0;
}

.container__technologie {
  text-align: left;
  padding-left: 10px;
}

.container__technologie-text {
  padding-top: 60px;
}

.container__technologie ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
